
/*Default background color for logged in sections*/
.content{
    --background:white;
}
/*BeeCastCount page*/
/*CSS for the walks list page*/
#header{
    padding: 20px 0;
} 
.item {
    --background: white;
    --color: black;
    margin: 30px 0px;
    padding: 20px 0px;
    
}
.list{
    background-color: white;
    margin:0px 10px;
    padding: 0;
}

.note{
    --color: black;
}

/*CSS for Detail file*/
.division{
    color:black;
    text-align:center;
}
.card{
    --background: white;
    width:90%;
}
.dark{
    color:black;
}

/*Specific to CommonBees page
*/
.nopadding{
  padding:0;
}

/* Specific to DuringWalk page
*/
.whitebackground{
    --background: white;
    --color:black;
}
.modal{
    position: absolute;
    height:60%;
    width:80%;
    --background:white;
    color:black;
    margin: 39% 0 0 8%;
}
.modal h1{
    text-align: center;
  
}
.choose-transect{
    position: absolute;
    height:40%;
    width:83%;
    margin: 39% 0 0 8%;
    text-align:center;
    top:7%;
}

.toolbar{
    --background:white !important;
    --color: black;
}
.switch {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index:1;

}

.datacontent{
    position:absolute;
    width:100%;
    top:0;
    bottom: 0;
    overflow:scroll;
    margin-top:10% ;
    margin-bottom: 0;
}

.grid{
    margin:10px;
}

.nomargin, #specialh1, .number{
    margin:0;
}
#main{
    text-align: center;
    margin-top: 18%;
}
.italics{
    font-style: italic;
}
/*Manual data page*/
#manualform{
   
    color: black;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin-bottom: 10%;
    margin:10% 0 25% 5%;
}
#siteform{
    left:10%;
    top:25%;
    position:absolute;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 80%;
}

#customPopoverSelect{
    --placeholder-opacity: 1;    
}

.item{
    margin:0;
    padding:0;
    text-align:center;
}
/*MySites*/
.sites{
text-align:center;
}
.top-margin{
    margin-top:20px;
}

.morecontent{
    margin-top: 20px;;
}

.tabs{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

.left-margin{
    margin-left:10px;
}

/*Record form*/
#recordform{
    position: absolute;
    top: 21%;
    color: black;
    font-size: 16px;
    text-align: center;
    width:100%
}

.margin-top{
    margin-top: 10%;
}

.input{
padding: 18px;
    margin-top: 2%;
     
}
.placeholder{
    --placeholder-opacity: 1;
}

.margin-bottom{
    margin-bottom: 10%;
}

.text-center{
    text-align:center;
}

/*Records Entered*/
.move-left{
    position:absolute;
    left:0;
}
.move-button-right{
    margin-left:65%;

}
.light{
    --background: #f4f5f8;
    color: black;

}

.top{
    margin-bottom: 18%;}

/*Section details*/
.bottom{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index:10;
}

