/*Default backgr0und color for logged in sections*/
.content{
    --background:white;
}


/*CSS for the walks list page*/
#header{
    padding: 20px 0;
} 
.item {
    --background: white;
    --color: black;
    margin: 30px 0px;
    padding: 20px 0px;
    
}
.list{
    background-color: white;
    margin:0px 10px;
    padding: 0;
}

.note{
    --color: black;
}

/*CSS for Detail file*/
.division{
    color:black;
    text-align:center;
}
.card{
    --background: white;
}
.dark{
    color:black;
}

/*Specific to CommonBees page
*/
.nopadding{
  padding:0;
}
/* Specific to DuringWalk page
*/
.whitebackground{
    --background: white;
    --color:black;
}


.center{
    /*Add records button at the end*/
    margin-left:34%;
}

/*.switch{
    position:fixed;
    top:0;
    left:0;
}*/

.switch {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }