#prewalkform{
    position: absolute;
    top: 23%;
    left: 13%;
    color: black;
    font-size: 16px;
    text-align: center;
    width: 80%;
}

.input {
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom:20px;
    background-color:rgba(255, 255, 255, 0.8);
}

.date{
    border: 1px solid black;
    margin-bottom:20px;
    background-color:rgba(255, 255, 255, 0.8);
    margin-left:5%;
}

.padding{
    padding-top:5%;
}

.align-left{
    text-align:left;
}