/*.coverpage{
  height:100%;
}*/
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/bee4.jpg) ;
  background-size:cover ;
  height:100%;
  margin:0;
  padding:0;

}
.wholepage{
  background-color: rgba(255, 255, 255, 0.6);
  height:100%;
  margin:0;
  padding:0;
  overflow: scroll;
  
}

.container h1{
  font-size: 100px;
  
}
.bee{
  margin-top: 0;
  padding-top:100px;
}
.move-lower{
  margin:100px 20px 40px 20px;
}
.buttons{
  /*top-right-bottom-left*/
  margin: 20px 20px 40px 20px;
  position: relative;
  top:65%;
}

.home-buttons{
  position: relative;
  margin: 20px 20px 40px 20px;
  top:0%;
}

.text{
  overflow: scroll;
  color:black;
  height:100%;
  background-color:rgba(255, 255, 255, 0.8);  
}

#tab{
  background-color:rgba(255, 255, 255);  
}

.tabbar{
  opacity:1;
  color:white;
}

.transectmap{
  height:100%;
}

.align-left{
  text-align:left;
}

.tabs{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}

#buttonsDiv{
  top:10% !important;
  left:5% !important;
}

#dark-text{
  color:black;
}
.select{
  width: 90%;
}
/*

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}*/